
.container-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.adminLoginCart {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9; 
}

.adminLoginCart button{
    border: none;
    padding: 12px 25px;
    font-size: 1.1rem;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #55d6aa;
    color: white;
}
.adminLoginCart button:hover {
    transform: scale(1.0); 
    background-color: #4cae8a;
}
.adminLabel {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.adminInput {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}