/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2, h3 {
    color: #333;
}

a {
    color: #007bff;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-box {
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease-in-out;
}

.form-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-box input:focus {
    border-color: #55d6aa;
    outline: none;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background-color: #55d6aa;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #57bf9c;
}

.terms {
    margin-bottom: 10px;
    font-size: 14px;
}

.terms label {
    margin-top: 5px;
}
#userProfile {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}
.form-check {
    display: flex;
    align-items: center;
    gap: 5px;
}
.form-check-input {
    width: 10px !important;
    height: 10px !important;
    margin-right: 5px;
    cursor: pointer;
    transform: scale(0.9);
}


#userProfile h3 {
    font-size: 28px;
    color: #333;
}

#userProfile p {
    color: #555;
    font-size: 16px;
    margin: 10px 0;
}
.error {
  color: red;
  font-size: 14px;
  margin: 2px 0 8px;
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .form-box {
        max-width: 90%;
        margin: 10px auto;
    }
}
