<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMR Motors</title>
  <link rel="icon" type="image/x-icon" href="0ebaa9ba-d581-4517-975a-b07ecc2d3c65.png">
  <link rel="stylesheet" href="/my-node-app/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container my-4">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mb-4">Sold Out Bikes</h2>
      </div>
    </div>
    <div class="soldOut-sort text-end mb-3">
      <select id="soldOutSort" class="form-select w-auto d-inline" onchange="sortSoldOut()">
          <option value="newest">Newest First</option>
          <option value="oldest">Oldest First</option>
      </select>
      <select id="soldOutFilter" class="form-select w-auto d-inline-block" onchange="filterSoldOut()">
        <option value="all">All Soldout</option>
        <option value="lastweek">Last week</option>
        <option value="last30">Last month</option>
      </select>

    </div>

    <div class="row" id="SoldOut"></div>
    <div id="pagination" class="text-center my-3"></div>
    <div class="text-end">
      <button class="download-btn sheet" onclick="chooseDownloadType()" class="btn btn-success">Download</button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="config.js"></script>
  <script src="soldOutPageScirpt.js"></script>

  <script>
    window.onload = () => {
      soldOutPrint();
    };
  </script>
</body>
</html>
